<html>
  <form action="/add-movie" method="POST" enctype="multipart/form-data">
    <label for="movieTitle">Movie Title:</label>
    <input type="text" id="movieTitle" name="movieTitle" required />

    <label for="time">Movie Time:</label>
    <input type="text" id="time" name="time" required />

    <label for="movieHall">Movie Hall:</label>

    <label for="summary">Summary:</label>
    <textarea id="summary" name="summary" required></textarea>

    <label for="casts">Casts:</label>
    <input type="text" id="casts" name="casts" required />

    <label for="status">Status:</label>
    <select id="status" name="status" required>
      <option value="new">New</option>
      <option value="ongoing">Ongoing</option>
      <option value="closed">Closed</option>
    </select>

    <label for="genre">Genre:</label>
    <select id="genre" name="genre" required>
      <option value="action">Action Movie</option>
      <option value="adventure">Adventure</option>
      <option value="thriller">Thriller</option>
      <!-- Add more genre options as needed -->
    </select>

    <label for="image">Movie Image:</label>
    <input type="file" id="image" name="image" accept="image/*" required />

    <button type="submit">Add Movie</button>
  </form>
</html>
