<table>
  <thead>
    <tr>
      <th>Ticket</th>
      <th>Seat Number</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% bookingResult.forEach((booking) => { %>
    <tr>
      <td><%= booking.booking_id %></td>
      <td><%= booking.seat_number %></td>
      <td><%= booking.date %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
