<h1>THis is admin</h1>
<p style="color: #fff"><%= currentUser.name %></p>
<a href="/logout">Logout</a> <br />
<a href="/addMovie">addMovie</a> <br />
<a href="/movie-Mapping">Create Mapping</a> <br />
<a href="/admin-booking">Bookings</a> <br />
<a href="/report">Report</a><br>
<a href="/add-language">Language</a>

