* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

.header i {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    align-items: center;
}

.u-name {
    color: #d6c169;
    align-items: stretch;
    margin-left: 80px;
    margin-top: 20px;
}

.header i:hover {
    color: #127b8e;
}

.side-bar {
    width: 400px;
    background: #3a3a3a;
    /* Update background color for sidebar */
    min-height: 100%;
    transition: width 0.5s;
}

.body {
    display: flex;
    flex-grow: 1;
    background: #f6f6f6;
}

.section-1 {
    flex-grow: 1;
    min-width: 0;
    height: 100%;
}

.side-bar ul {
    margin-top: 20%;
    list-style: none;
}

.side-bar ul li {
    font-size: 16px;
    padding: 15px 0px;
    padding-left: 20px;
    transition: 500ms background;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side-bar ul li:hover {
    background: #b0a05b;
}

.side-bar ul li a {
    text-decoration: none;
    color: #eee;
    cursor: pointer;
    letter-spacing: 1px;
}

.side-bar ul li a i {
    display: inline-block;
    padding: 10px;
    font-size: 23px;
}


/* Media Query for Small Screens */

@media screen and (max-width: 768px) {
    .side-bar {
        width: 80px;
    }
    .side-bar ul li span {
        display: none;
    }
    .header h2 {
        font-size: 18px;
    }
    .header i {
        font-size: 24px;
    }
}