/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&family=Open+Sans:wght@300&family=Roboto+Flex:wght@100;200;300&family=Roboto:wght@100;300;400;500&display=swap");

body {
  background-color: #eee;
  /* max-height: 140vh; */
  font-family: "Inter", sans-serif;
  background: linear-gradient(to top, #4d4c4c 10%, rgba(0, 0, 0, 100) 90%)
    no-repeat;
}
/* 
.navbar-brand {
  font-weight: bold;
  color: #ffe36d;
}

.navbar-nav .nav-link {
  color: white !important;
  margin-right: 50px;
}

.search-container {
  order: 1;
  position: relative;
  display: inline-block;
  margin-right: 50px;
}

.navbar-toggle {
  order: 2;
}

.search-input {
  padding-right: 50px;
  border: 2px solid #ffe36d;
  border-radius: 50px;
  height: 40px;
  color: #eee;
  background-color: black;
}

.search-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: #ffe36d;
}

.btn-outline-warning {
  background-color: black;
  color: #eee;
  border: 2px solid #ffe36d;
} */


.navbar-brand {
  font-weight: bold;
  color: #ffe36d;
}

.navbar-nav .nav-link {
  color: white !important;
  margin-right: 50px;
}

.search-container {
  order: 1;
  position: relative;
  display: inline-block;
  margin-right: 100px;
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffe36d;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(
    263deg,
    rgb(230, 211, 9) 0%,
    #ffe36d(0, 212, 255, 1) 100%
  );
}


.search-input {
  padding-right: 35px;
  border: 2px solid #ffe36d;
  border-radius: 50px;
  height: 40px;
  color: #fff;
  background-color: transparent;
}

.search-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: #ffe36d;
}

.btn-outline-warning {
  background-color: transparent;
  color: #eee;
  border: 2px solid #ffe36d;
}


/* ============================================login========================================= */

.wrapper {
  max-width: 500px;
  margin: 20px auto;
}

.wrapper .card {
  max-width: 450px;
  min-height: 380px;
  margin: 30px;
  background: linear-gradient(to top, #4d4c4c 100%, rgba(0, 0, 0, 0) 100%);
  overflow: hidden;
  cursor: pointer;
  padding: 0.8rem;
}

.login {
  color: #ffe36d;
}
.wrapper .card a {
  text-decoration: none;
  color: #eee;
}

.wrapper .card a:hover {
  color: #fff;
}

.wrapper .card .input-field {
  border: 2px solid #ffe36d;
  border-radius: 10px;
  color: #eee;
  padding: 0.3rem;
}

.wrapper .card .input-field input {
  background-color: inherit;
}

.wrapper .card .input-field input.form-control,
.wrapper .card .input-field input.form-control:focus {
  border: none;
  outline: none;
  box-shadow: none;
  color: #eee;
}

.wrapper .card .input-field button.btn {
  color: #ffe36d;
  padding: 0rem;
  padding-right: 0.5rem;
}

.wrapper .card .input-field button.btn:hover {
  color: #fff;
}

.wrapper .card .input-field button.btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.wrapper .card .input-field input::placeholder {
  color: #eee;
}

.wrapper .card .option {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

.wrapper .card .option span.text-light-white:hover {
  color: #fff;
}

.wrapper .card .option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 2px;
}

.wrapper .card .option:hover input ~ .checkmark {
  background-color: #f1f1f1;
}

.wrapper .card .option input:checked ~ .checkmark {
  border: none;
  background-color: #ffe36d;
  transition: 300ms ease-in-out all;
}

.checkmark:after {
  content: "\2713";
  position: absolute;
  display: none;
  color: #fff;
  font-size: 1rem;
}

.wrapper .card .option input:checked ~ .checkmark:after {
  display: block;
}

.wrapper .card .option .checkmark:after {
  left: 3px;
  top: -3px;
  width: 5px;
  height: 10px;
}

.wrapper .card .btn.btn-primary {
  border-radius: 10px;
  width: 320px;
  background-color: transparent;
  border: 2px solid #ffe36d;
  color: #f1f1f1;
}

.wrapper .card .btn.btn-primary:hover {
  color: #fff;
  background: #ffe36d;
  background: linear-gradient(to right, #ffe36d 10%, rgba(0, 0, 0, 0) 60%);
}
.wrapper .card .btn.btn-primary:focus {
  border: none;
  box-shadow: none;
}

.wrapper .card .text-light-white {
  color: #ddd;
}
/* =========================Footer================================== */

.footer {
  /* background: #2c2b2b; */
  color: #fff;
  text-decoration: none;
}

.footer-container {
  margin-top: 30px;
}

.footer-title {
  position: relative;
  color: #fff;
  margin-top: 15px;
  text-decoration: none;
}

.footer-title .logo {
  text-decoration: none;
  color: #ffe36d;
}

.footer-links a {
  padding: 10px 0;
  /* border-bottom: 1px solid #404040; */
  color: #fff;
  display: block;
  transition: color 0.5s ease-in-out;
  text-decoration: none;
}

.footer-social-links li {
  display: inline-block;
}

.footer-social-links a {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  float: left;
  text-align: center;
  color: #ffe36d;
}

.footer-social-links a i {
  height: 60px;
  width: 60px;
}

.footer-bottom {
  padding: 25px 0;
  text-align: center;
  color: #fff;
  /* background: #2c2b2b; */
}

/* ================================================Responsiveness for Mobile=============================================================== */

@media screen and (max-width: 576px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: none;
    margin-bottom: -40px;
  }

  .search-container {
    display: flex;
    justify-content: center;
    transform: translate(-2%, -110%);
    margin-left: 95px;
  }

  .search-input {
    width: 160px;
  }

  .navbar-toggler {
    order: 1;
    transform: translate(80%, -360%);
  }
  .bi-person-circle {
    display: none;
  }
  .btn-outline-warning {
    display: none;
  }

  .wrapper .card .line:after {
    left: 27%;
  }
  .wrapper .card .btn.btn-primary {
    width: 240px;
  }
  .wrapper {
    margin: 10px auto;
  }

  .wrapper .card {
    margin: 10px;
  }
  .Forgot-pass {
    display: flex;
    justify-content: end;
    margin-top: -40px;
  }

  
  .social-icons {
    margin-right: 50px;
    margin-top: 30px;
  }

  .wrapper .card .line:after {
    left: 27%;
  }

  
  .footer-title .logo {
    text-decoration: none;
    color: #ffe36d;
  }
  .footer-title {
    text-align: center;
  }

  .footer-social-links {
    text-align: center;
    margin-top: 15px;
  }

  .footer-social-links a {
    margin: 0 10px;
  }

  .footer .justify-content-end {
    margin-left: -90px;
    margin-top: 20px;
  }
}



@media screen and (min-width: 768px) and (max-width: 992px) {
 
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-container {
    order: 3;
    transform: translateX(20%);
  }

  .navbar-toggle {
    order: 1;
  }

  .navbar-toggler,
  .navbar-toggler:focus {
    transform: translateX(450%);
  }
  .btn-outline-warning {
    display: none;
  }
   .footer-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .footer-title .text-white {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
  }

  .footer-title .logo {
    text-decoration: none;
    color: #ffe36d;
  }

  .footer-social-links {
    display: flex;
    flex-direction: end;
  }
}




