/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&family=Open+Sans:wght@300&family=Roboto+Flex:wght@100;200;300&family=Roboto:wght@100;300;400;500&display=swap");

body {
  background-color: #eee;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to top, #2c2b2b 10%, rgba(0, 0, 0, 100) 90%);
}

/* .navbar-brand {
  font-weight: bold;
  color: #ffe36d;
}

.navbar-nav .nav-link {
  color: white !important;
  margin-right: 50px;
}

.search-container {
  order: 1;
  position: relative;
  display: inline-block;
  margin-right: 40px;
}

.navbar-toggle {
  order: 2;
}

.search-input {
  padding-right: 35px;
  border: 2px solid #ffe36d;
  border-radius: 50px;
  height: 40px;
  color: #fff;
  background-color: transparent;
}

.search-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: #ffe36d;
}

.btn-outline-warning {
  background-color: transparent;
  color: #eee;
  border: 2px solid #ffe36d;
} */

.navbar-brand {
  font-weight: bold;
  color: #ffe36d;
}

.navbar-nav .nav-link {
  color: white !important;
  margin-right: 50px;
}

.search-container {
  order: 1;
  position: relative;
  display: inline-block;
  margin-right: 100px;
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffe36d;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}


.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}



.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}


.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(
    263deg,
    rgb(230, 211, 9) 0%,
    #ffe36d(0, 212, 255, 1) 100%
  );
}


.search-input {
  padding-right: 35px;
  border: 2px solid #ffe36d;
  border-radius: 50px;
  height: 40px;
  color: #fff;
  background-color: transparent;
}

.search-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: #ffe36d;
}

.btn-outline-warning {
  background-color: transparent;
  color: #eee;
  border: 2px solid #ffe36d;
}


.dropdown-menu.show {
  display: block;
  transform: translateX(-90px);
}

.dropdown-menu .dropdown-item:hover{
  color: #fff;
  background: #ffe36d;
  
}
/* =======================================Table============================================== */

.main-datatable {
  padding: 10px;
  border-bottom: 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_body {
  background-color: #2c2b2b;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #fff;
}
.main-datatable .row {
  margin: 0;
}
.searchInput {
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  margin: 20px 0px;
  padding: 0px 4px;
}
.searchInput input {
  border: 1px solid #e5e5e5;
  border-radius: 50px;
  margin-left: 8px;
  height: 34px;
  width: 100%;
  padding: 0px 25px 0px 10px;
  transition: all 0.6s ease;
}
.searchInput label {
  color: #767676;
  font-weight: normal;
}
.searchInput input:placeholder-shown {
  width: 13%;
}
.searchInput:hover input:placeholder-shown {
  width: 100%;
  cursor: pointer;
}
.searchInput:after {
  font-family: "FontAwesome";
  color: #d4d4d4;
  position: relative;
  content: "\f002";
  right: 25px;
}

.add_flex {
  display: flex;
  justify-content: flex-end;
  padding-right: 0px;
}
.main-datatable .dataTable.no-footer {
  border-bottom: 1px solid #2c2b2b;
}

.main-datatable .cust-datatable > thead > tr > th {
  border-bottom-width: 0;
  color: #443f3f;
  font-weight: 600;
  padding: 16px 15px;
  vertical-align: middle;
  padding-left: 18px;
  text-align: center;
  height: 50px;
  background-color: #ffe36d;
}



.main-datatable .cust-datatable > tbody td {
  padding: 10px 15px 10px 18px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  /* border-color: #eee; */
  text-align: center;
  vertical-align: middle;
  height: 50px;
  background-color: transparent;
}
.main-datatable .cust-datatable > tbody tr {
  border-top: none;
}
.main-datatable .table > tbody > tr:nth-child(even) {
  background: transparent;
  color: #fff;
}

.main-datatable .table > tbody > tr:nth-child(even):hover {
  background: #544f3b;
  border-bottom: 1px solid #ffe36d;
}

.main-datatable .table > tbody > tr:nth-child(odd) {
  background: transparent;
}

.main-datatable .table > tbody > tr:nth-child(odd):hover {
  background:  #544f3b;
  border-bottom: 2px solid #ffe36d;
}


.clearfix{
  background-color: #544f3b;
  height: 80px;

}


.pagination{
  float:right;
}


.pagination .disabled{
  margin: 25px;

}

.pagination  li a{
  border:none;
  font-size:13px;
  min-width:30px;
  min-height:30px;
  color:#999;
  margin: 25px;
  line-height:30px;
  border-radius:2px!important;
  text-align:center;
  padding:0 6px;
}

.pagination  li a:hover{
  color:#666;
}


.pagination li.disabled i{
  color:#ccc;
  
}

.pagination li i{
  font-size:16px;
  padding-top:6px;
}

.hint-text{
  float:left;
  font-size:13px;
  margin: 30px;
}





/* =========================Footer================================== */



.footer {
  color: #fff;
  text-decoration: none;
}

.footer-container {
  margin-top: 30px;
}

.footer-title {
  position: relative;
  color: #fff;
  margin-top: 15px;
  text-decoration: none;
}

.footer-title .logo {
  text-decoration: none;
  color: #ffe36d;
}

.footer-links a {
  padding: 10px 0;
  color: #fff;
  display: block;
  transition: color 0.5s ease-in-out;
  text-decoration: none;
}

.footer-social-links li {
  display: inline-block;
}

.footer-social-links a {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  float: left;
  text-align: center;
  color: #ffe36d;
}

.footer-social-links a i {
  height: 60px;
  width: 60px;
}

.footer-bottom {
  padding: 25px 0;
  text-align: center;
  color: #fff;
}








@media only screen and (max-width: 1200px) {
  .overflow-x {
    overflow-x: scroll;
  }
  .overflow-x::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  .overflow-x::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  .overflow-x::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}

/* =========================Footer================================== */

.footer {
  padding: 20px 0;
}

.logo {
  text-decoration: none;
  color: #ffe36d;
  font-size: 20px;
  font-weight: 700;
}

.footer .justify-content-end {
  display: flex;
  justify-content: flex-end;
}

.link a {
  text-decoration: none;
  color: #fff;
}

.social-icon {
  font-size: 20px;
  color: #ffe36d;
}

/* =================================================Responsiveness for Mobile======================================================= */

/* ==========================================Responsivness for mobile========================================= */

@media (max-width: 576px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: none;
    margin-bottom: -40px;
  }

  .search-container {
    display: flex;
    justify-content: center;
    transform: translate(-2%, -110%);
    margin-left: 95px;
  }

  .search-input {
    width: 160px;
  }
  .search-input {
    width: 160px;
  }
  .navbar-toggler {
    order: 1;
    transform: translate(80%, -360%);
  }
  .bi-person-circle {
    display: none;
  }

  .footer-title .logo {
    text-decoration: none;
    color: #ffe36d;
  }
  .footer-title {
    text-align: center;
  }
  
  .footer-social-links {
    text-align: center;
    margin-top: 15px;
  }
  
  .footer-social-links a {
    margin: 0 10px;
  }
  
  .footer .justify-content-end {
    margin-left: -90px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-container {
    order: 3;
    transform: translateX(20%);
  }

  .navbar-toggle {
    order: 1;
  }

  .navbar-toggler,
  .navbar-toggler:focus {
    transform: translateX(300%);
  }
  .bi-person-circle {
    display: none;
  }
  .justify-content-between {
    justify-content: space-between !important;
  }

  .twitter {
    padding-right: 2.3rem;
  }
  .d-flex.justify-content-end {
    margin-right: -70px;
  }
  
.footer-title {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.footer-title .text-white {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 60px;
}

.footer-title .logo {
  text-decoration: none;
  color: #ffe36d;
}

.footer-social-links {
  display: flex;
  flex-direction: end;
}
}
