<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <footer>
        <div class="col-md-12">
          <footer class="footer">
            <div class="container">
              <div class="row footer-container">
                <div class="col-md-4">
                  <div class="footer-title text-white">
                    
                    <a href="" class="logo"><img src="./img/logo.png" alt=""></a>
                  </div>
                </div>
  
                <div
                  class="col-md-4 d-flex justify-content-center d-flex justify-content-around">
                  <div class="footer-link">
                    <div class="footer-title">
                      <a href="/" class="text-white" style="text-decoration: none"
                        >Home</a
                      >
                    </div>
                  </div>
                  <div class="footer-link">
                    <div class="footer-title text-white">
                      <a href="newrelease" class="text-white" style="text-decoration: none">
                        New Release</a
                      >
                    </div>
                  </div>
  
                  <div class="footer-link">
                    <div class="footer-title m-t-5 m-b-20 p-b-8 text-white">
                      <a href="upcoming" class="text-white" style="text-decoration: none"
                        >Upcoming</a
                      >
                    </div>
                  </div>
                </div>
    
              <div class="col-md-4 footer-social-links d-flex justify-content-center justify-content-md-end">
                <li class="d-flex justify-content-between" style="width: 40%;">
                    <a href="#"><i class="fab fa-facebook" style="font-size: 30px;"></i></a>
                    <a href="#"><i class="fab fa-twitter" style="font-size: 30px;"></i></a>
                    <a href="#"><i class="fab fa-instagram" style="font-size: 30px;"></i></a>
                </li>
            </div>

            
         
          
            
              </div>
            </div>
            <div
              class="footer-bottom text-white d-flex justify-content-center mb-5">
              Copyright © 2023 All Rights Reserved
            </div>
          </footer>
        </div>
      </footer>
  
</body>
</html>