
                  <div class="footer-link">
                    <div class="footer-title m-t-5 m-b-20 p-b-8 text-white">
                      <a href="upcoming" class="text-white" style="text-decoration: none"
                        >Upcoming</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                  <div class="footer-social-links">
                    <li>
                      <a href="#">
                        <i class="fab fa-facebook"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="footer-bottom text-white d-flex justify-content-center mb-5">
              Copyright © 2023, All Rights Reserved
            </div>
          </footer>
        </div>
      </footer>
  
</body>
</html>
