

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header1</title>
    <link rel="stylesheet" href="css/header1.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark p-4">
      <div class="container">
        <a class="navbar-brand" href="/">FlickTix</a>

        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="newrelease">New Release </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="upcoming">Upcoming</a>
            </li>
          </ul>
        </div>

        <div class="d-flex align-items-center">
          <div class="search-container">
            <input type="text" class="search-input" placeholder="Search" />
            <button class="btn search-icon">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>

        <button
          class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="toggler-icon top-bar"></span>
          <span class="toggler-icon middle-bar"></span>
          <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="navbar-item dropdown has-divider">
          <a
            class="navbar-link"
            href="#"
            id="dropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <div
              class="d-flex justify-content-end account-setting"
              style="margin-right: 10px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                class="bi bi-person-circle"
                style="color: #ffe36d"
                viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
              </svg>
            </div>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-person-circle"
                  viewBox="0 0 16 16"
                  style="margin-right: 10px">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  <path
                    fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" /></svg
                >User Name</a>
            </li>
            <hr />
            <li>
              <a class="dropdown-item" href="#" >
                <img src="./img/bookinghistory.png"
                  style="margin-right: 10px" />Booking History</a >
            </li>
            <hr />
            <li>
              <a class="dropdown-item" href="#" ><i
                  class="fa-solid fa-right-from-bracket"
                  style="margin-right: 10px"></i>Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
