<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@10/swiper-bundle.min.css" />

    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>

    <%- include('header1') %> 

    <!-- =============================================Image Slider========================================= -->
    <div class="swiper mt-2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./img/herobanner.jpg" />
          <div class="container main-section mb-5">
            <div class="row text-container mt-5">
              <div class="col-md-6">
                <div class="button-container mb-4">
                  <button type="button" class="btn btn-primary mt-5" id="gradient-border-button">
                    Darma
                  </button>
                  <button type="button" class="btn btn-primary mt-5">
                    ShortFilm
                  </button>
                </div>
                <h5 class="fs-3">Silent Walls</h5>
                <span
                  ><i class="fas fa-clock fa-2x" style="color: #ffe36d"></i>2
                  HRS 30 MINS</span
                >
                <div class="description">
                  <p class="mt-4">
                    A deaf girl finds her life beginning to rapidly narrow and
                    deteriorate when she gets locked up by her over-protective
                    father owing to her puberty.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <%- include('footer') %> 
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"></script>

    <script src="home.js"></script>

    <script src="https://unpkg.com/swiper@10/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper(".swiper", {
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        loop: true,
      });
    </script>
  </body>
</html>
