/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&family=Open+Sans:wght@300&family=Roboto+Flex:wght@100;200;300&family=Roboto:wght@100;300;400;500&display=swap");

body {
  background-color: #eee;
  font-family: "Inter", sans-serif;
  background-color: #404040;
}


/* ====================================================================================== */

.card {
  width: 250px;
  border-color:black;
  overflow: hidden;
  height: auto;
  margin-top: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  background-color: black;
  color: #fff;
  padding: 10px;
}

/* ==============================movie-summary================================ */


.card-container{
  margin-top: 20px;
  border-radius: 10px;
  background-color: #323030;
}

.booking-summary{
padding: 32px;
}

.movie-title {
  display: inline-block;
  justify-content: space-between;
}


hr {
  position: relative;
  top: 20px;
  border: none;
  height: 8px;
  background: #fff;

}
.dropdown{
  margin-top: -20px;
}
.hall-1{
  border-style: solid;
  border-color: #ffe36d;
  border-radius: 10px;
  
}

.booked-button .btn {
  background-color: transparent;
  color: #eee;
  border: 2px solid #ffe36d;
  margin-right: -10px;

}

.booked-button .btn:hover {
  color: #fff;
  background: #ffe36d;
  background: linear-gradient(to right, #ffe36d 50%, rgba(0, 0, 0, 0) 90%);
}



.dropdown .btn {
  background-color: transparent;
  color: #eee;
  border: 2px solid #ffe36d;

}

.dropdown .btn:hover {
  color: #fff;
  background: #ffe36d;
  background: linear-gradient(to right, #ffe36d 50%, rgba(0, 0, 0, 0) 90%);
}





/* ==========================================Responsivness for mobile========================================= */

@media (max-width: 768px) {
  .card {
    width: 100%; 
  }
  .card-body{
    display: none;
  }

  .card-container{
    background-color: transparent;
  }
  
  .booking-summary{
    padding: 0;
  }

  .hall-1{
    margin-bottom: 20px;
  }
   .booked-button .btn{
    display: flex;
    margin-right: -15px;
    margin-top: 20px;

   }
   .dropdown .btn{
    display: flex;
    justify-content: center;
    margin-top:30px;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 991px) {

  .bi-person-circle {
    display: none;
  }

  .swiper-slide {
    height: 500px;
  }

  .right-div {
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 20px;
    text-align: center;
    margin-left: 0rem;
  }

  .hall-1{
    border-style: solid;
    border-color: #ffe36d;
    border-radius: 10px;
  }


  .container .movie-details{
    border-radius: 20px;
    margin-left: -27px;
   }
   
   
  .booked-button .btn{
    display: flex;
    margin-top: 20px;
    margin-right: -10px;

   }
  

.footer-title {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.footer-title .text-white {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 60px;
}

.footer-title .logo {
  text-decoration: none;
  color: #ffe36d;
}

.footer-social-links {
  display: flex;
  flex-direction: end;
}
}
