
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&family=Open+Sans:wght@300&family=Roboto+Flex:wght@100;200;300&family=Roboto:wght@100;300;400;500&display=swap");


nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 30px 6%;
}
nav .logo{
  font-size: 30px;
  font-weight: 700;
}
nav ul{
  display: flex;
  list-style: none;
}
nav ul li{
  padding: 8px 15px;
  border-radius: 10px;
  transition: 0.2s ease-in;
}
nav ul li a{
  color: white;
  text-decoration: none;
}
nav .menubtn{
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
  display: none;
}


 
  .btn-outline-warning {
  background-color: transparent;
  color: #eee;
  border: 2px solid #ffe36d;
  height: 40px;
  width: 80px;
  margin-left: 40px;
}



  .nav .Search-bar {
  display: flex;
  justify-content: center;
  align-items: right;
}

nav .box {
  height: 40px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: 2px solid #ffe36d;
}

nav .box input {
  width: 200px;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

.box a .fas {
  color: #ffe36d;
  font-size: 18px;
}


 
.sideNav{
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  right: 0%;
  background-color: #615d5d;
  overflow-x: hidden;
  transition: 0.3s ease-in;
  padding-top: 60px;
  display: none;
  z-index: 100;
  gap: 5px;
}
 
.sideNav a{
  padding: 8px 8px 8px 40px;
  display: block;
  font-size: 25px;
  font-weight: 500;
  color: #d1d1d1;
  transition: 0.3s;
  text-decoration: none;
}

.sideNav .btn-outline-warning {
  background-color: transparent;
  color: #eee;
  border: 2px solid #ffe36d;
  height: 40px;
  width: 80px;
  margin-left: 0px;
}

.sideNav a:hover{
  color: white;
}
.sideNav .closeBtn{
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 20px;
  margin-left: 50px;
  color: #ffe36d;
}


/* responsive navbar css */
@media screen and (max-width: 600px) {
  nav .menubtn{
    display: flex;
  }
  nav .navLinks{
    display: none;
  }
  .sideNav {
    display: block !important;
  }

  nav .box input {
  width: 120px;
  
}
  
}


@media screen  and (min-width: 768px) and (max-width:992px){

  nav .navLinks{
    display: none;
  }

  nav .menubtn{
    display: flex;
  }
  
  .sideNav {
    display: block !important;
  }


  
}
