
/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&family=Open+Sans:wght@300&family=Roboto+Flex:wght@100;200;300&family=Roboto:wght@100;300;400;500&display=swap");

body {
  background-color: #eee;
  font-family: "Inter", sans-serif;
  background-color: #49484A;
}
.card {
  width: 250px;
  border-color:black;
  overflow: hidden;
  height: auto;
  margin-top: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  background-color: black;
  color: #fff;
  padding: 10px;
}


.card-container{
  margin-top: 20px;
  border-radius: 10px;
  background-color: #323030;
}
.booking-summary{
  padding: 32px;
}

.horizontal-line{
  border: 1px solid;
  color: #fff;
}
.ticket-button .btn {
  background-color: transparent;
  color: #eee;
  border: 2px solid #ffe36d;
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;

}



/* ==========================================Responsivness for mobile========================================= */

@media (max-width: 768px) {
 
  .card{
    width: 100%;
  }

  .card-body{
    display: none;
  }

  .card-container{
    background-color: transparent;
  }
  .booking-summary{
    padding: 0;
  }
  }




@media screen and (min-width: 768px) and (max-width: 991px) {
 

 

}
