<p style="color: #120101"><%= currentUser.username %></p>
<a href="/logout">Logout</a> <br />
<a href="/addHall">Add Hall</a> <br />
<a href="/movieHalls">Movie Halls</a> <br />

<a href="/abookings">Bookings</a> <br />
<a href="/createMapping">CreateMovieMapping</a><br />
<a href="/addUser">Add-Admin</a>
