<!DOCTYPE html>
<html>
  <head>
    <style>
      .seating-container {
        display: flex;
        flex-direction: column;
        gap: 10px; /* Adjust the gap between rows */
      }

      .row {
        display: flex;
        gap: 10px; /* Adjust the gap between seats */
      }

      .seat {
        width: 30px; /* Adjust seat width */
        height: 30px; /* Adjust seat height */
        background-color: #000000; /* Adjust seat color */
        border-radius: 50%;
        cursor: pointer;
      }

      /* Add additional styles for reserved or booked seats */
      .seat.reserved {
        background-color: #f7d23a; /* Reserved seat color */
      }

      .seat.booked {
        background-color: #e74c3c; /* Booked seat color */
      }

      /* Add styles for selected seat */
      .seat.selected {
        border: 2px solid #3498db;
      }
    </style>
  </head>
  <body>
    <h2>This is Details Page</h2>
    <p><%= movie.title %></p>
    <h4>Hall Details</h4>
    <p><%= hall.name %></p>

    <div class="seating-container">
      <% for (let i = 1; i <= hall.capacity; i++) { %>
      <div class="row">
        <div class="seat"><p style="color: aliceblue"><%= i %></p></div>
      </div>
      <% } %>
    </div>
  </body>
</html>
