/** @format */

.nav {
  top: 0;
  right: 0;
  width: 100%;
  padding: 15px 80px;
}

.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-between;
}

a {
  color: #fff;
  text-decoration: none;
}

.nav .logo {
  font-size: 22px;
  font-weight: 500;
}

.logo1 {
  display: none;
}

.nav-links {
  margin-bottom: -10px;
}
.nav .nav-links {
  column-gap: 50px;
  list-style: none;
  justify-content: center;
}

.nav .nav-links a {
  transition: all 0.2s linear;
}

.nav .Search-bar {
  display: flex;
  justify-content: center;
  align-items: right;
}

nav .box {
  height: 40px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: 2px solid #ffe36d;
}

nav .box input {
  width: 200px;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

nav .box a .fas {
  color: #ffe36d;
  font-size: 18px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

.btn-outline-warning {
  background-color: transparent;
  color: #eee;
  border: 2px solid #ffe36d;
  height: 40px;
  width: 80px;
  margin-left: 40px;
}

.dropdown-items{
  display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}

@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
    margin-left: auto;
  }

  .btn-outline-warning {
    display: none;
  }

  .nav .logo {
    margin-right: auto;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 20px;
    row-gap: 5px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #615d5d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }

  .nav-links li {
    margin-bottom: 50px;
  }
  .nav.openNav .nav-links {
    right: 0;
  
  }
  .nav .navOpenBtn {
    color: #ffe36d;
    font-size: 30px;
    cursor: pointer;
  }

  .nav .navCloseBtn {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #ffe36d;
    font-size: 30px;
    cursor: pointer;
  }

  nav .box input {
    width: 100px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
  }

  .nav .nav-links a{
    padding: 20px;
  }
  .logo1 {
    display: block;
    
  }

  .dropdown-items{
    display: block;
   
  }

  
  
}