/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&family=Open+Sans:wght@300&family=Roboto+Flex:wght@100;200;300&family=Roboto:wght@100;300;400;500&display=swap");

body {
  background-color: #eee;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to top, #4d4c4c 10%, rgba(0, 0, 0, 100) 90%);
}
.navbar-brand {
  font-weight: bold;
  color: #ffe36d;
}

.navbar-nav .nav-link {
  color: white !important;
  margin-right: 50px;
}

.search-container {
  order: 1;
  position: relative;
  display: inline-block;
  margin-right: 50px;
}

.navbar-toggle {
  order: 2;
}

.search-input {
  padding-right: 35px;
  border: 2px solid #ffe36d;
  border-radius: 50px;
  height: 40px;
  color: #eee;
  background-color: black;
}

.search-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: #ffe36d;
}

.btn-outline-warning {
  background-color: black;
  color: #eee;
  border: 2px solid #ffe36d;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-container {
    order: 3;
    margin-right: 14rem;
  }

  .navbar-toggle {
    order: 1;
    /* position: relative; */
  }

  .btn-outline-warning {
    display: none;
  }
}


@media (max-width: 450px){
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-container {
    display: flex;
    justify-content: center;
    margin-top: -40px;
    margin-left: 95px;
  }

  .search-input{
    width: 160px;
  }

  .navbar-toggle {
    order: 1;
  }

  .btn-outline-warning{
    display: none;
  }
}




/* =============================Herobanner=================================== */

:root {
  --gradient: linear-gradient(to right, #ffe36d, rgba(0, 0, 0, 0) 60%);
}

.hero-banner{
    height: 100vh;
    background: linear-gradient(to top, #4d4c4c 10%, rgba(0, 0, 0, 100) 90%);
    background-image: url("images/herobanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}



.button-container {
  display: flex;
  justify-content: flex-start;
}

.button-container .btn {
  margin-left: 10px;
  border-radius: 20px;
  width: 120px;
  height: 45px;
  border: 2px solid #ffe36d;
  background-color: black;
}



.text-container {
    display: flex;
    justify-content: flex-start;
    color: #fff;
    margin-left: 10px;
  }


  .description{
    color: #fff;


  }


  .book-button{
    display: flex;
    justify-content: flex-start;
  }
  
  .book-button .btn {
    margin-left: 10px;
    border-radius: 10px;
    width: 120px;
    height: 45px;
    border: 2px solid #ffe36d;
    background-color: black;
  }


  /* ============================================movie selection========================================= */

  .movie-selection{
    /* height: 100vh; */
    background: linear-gradient(to top, #212020 10%, rgba(0, 0, 0, 100) 90%);
  }
  
.dropdown .btn.btn-primary{
    margin-left: 10px;
    border-radius: 10px;
    width: 200px;
    height: 45px;
    border: 2px solid #ffe36d;
    background-color: black;
}



.dropdown-menu{
 border: 2px solid #ffe36d;
 width: 200px;
 background-color: #4d4c4c;

}
.dropdown-item{
  color: #fff;
}

 .movie{
        color: #fff;
    }
    
    .image-container {
      display: flex;
      justify-content: start;
      
    }

    .image-container img {
      width: 100%;
      height: auto;
    }

  /* ============================== */

  .main-container{
      background: linear-gradient(to top, #212020 10%, rgba(0, 0, 0, 100) 90%);
      display: flex;
      justify-content: space-between;
    }
    
  
    .left-div img {
      width: 550px;
      height: 400px;
      margin-right: 10px;
    }
    .left-div {
      position: relative;
      display: inline-block;
    } 

    

    .left-div .overlay-text {
      position: absolute;
      top: 60%;
      left: 65%;
      transform: translate(-50%, -50%);
      color: white;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      z-index: 1;
    }


    .right-div {
      display: flex;
      align-items: center;
    }

    .right-div img {
      width: 100px;
      height: auto;
      margin-left: 10px;
    }


    




/* =========================Footer================================== */

.footer {
  padding: 20px 0;
}

.logo {
  text-decoration: none;
  color: #ffe36d;
  font-size: 20px;
  font-weight: 700;
}
.link a {
  text-decoration: none;
  color: #fff;
}

.social-icon {
  font-size: 20px;
  color: #ffe36d;
}
