<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-Kd8TZj5zwej/JI8MvhiBSvjN3pXyI+plQdFpspSoZdbsq1eX2aodScThRSVN4P8P9eWvHvkjjIMtoPzSEEBLcA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link href="/public/css/home.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0-beta.0"></script>


    <style>
        .header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 15px;
            background: #fefefe;
            color: #7b7b7b;
            box-shadow: 0 5px rgba(0, 0, 0, 0.1);
            width: 100%;
        }
        
        .header i {
            font-size: 30px;
            cursor: pointer;
            color: #050505;
            margin-right: 50px;
        }
        
        .header i:hover {
            color: #127b8e;
        }
        
        .user-icon {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-grow: 1;
        }
        
        .p-menu1 {
            height: 100%;
            width: 100%;
        }
        
        .hamburger1 {
            height: 45px;
            margin: 10px;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            justify-items: center;
            z-index: 120;
        }
        
        .hamburger1 div {
            background-color: rgb(61, 61, 61);
            position: relative;
            width: 40px;
            height: 5px;
            margin-top: 7px;
            transition: all 0.2s ease-in-out;
        }
        
        #toggle1 {
            display: none;
        }
        
        #toggle1:checked+.hamburger1 .top {
            transform: rotate(-45deg);
            margin-top: 22.5px;
        }
        
        #toggle1:checked+.hamburger1 .meat {
            transform: rotate(45deg);
            margin-top: -5px;
        }
        
        #toggle1:checked+.hamburger1 .bottom {
            transform: scale(0);
        }
        
        #toggle1:checked~.menu1 {
            height: 240px;
            width: 100%;
        }
        
        .menu1 {
            width: 100%;
            background-color: #555555;
            margin: 0;
            display: grid;
            grid-template-rows: 1fr repeat(4, 0.5fr);
            grid-row-gap: 25px;
            padding: 0;
            list-style: none;
            clear: both;
            text-align: center;
            height: 0px;
            overflow: hidden;
            transition: height .4s ease;
            z-index: 120;
            border-radius: 5px;
        }
        
        .menu1 a {
            width: 100%;
            margin: 0;
            padding: 10px 0;
            font: 700 20px 'Oswald', sans-serif;
            color: #fff;
            text-decoration: none;
        }
        
        .menu1 a:hover {
            background-color: #fff;
            color: rgb(61, 61, 61);
            transition: all 0.3s ease;
        }
        
        #toggle1:checked~.menu1 {
            display: block;
        }
        
        .menu1 .link1 {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #fefefe;
            font-size: 16px;
            transition: background-color 0.3s;
        }
        
        .menu1 .link1:hover {
            background-color: #127b8e;
            color: #fefefe;
        }
        
        input[type="checkbox"] {
            display: none;
        }
        
        @media (max-width: 768px) {
            .header .user-icon {
                display: none;
                margin-left: 150px;
            }
            .header .hamburger1 {
                display: block;
                margin-left: 15px;
            }
            .user-icon {
                display: none;
            }
        }
        
        @media (min-width: 769px) {
            .user-icon {
                display: block;
            }
            .header .hamburger1 {
                display: none;
            }
        }
    </style>
</head>

<body>
    <main class="table">
        <header class="header">
            <div id="navbar">
                <i class="fa fa-user" aria-hidden="true" onclick="toggleUserManagementPanel()"></i>
            </div>

            <section class="p-menu1">
                <nav class="navigation" role="navigation">
                    <input id="toggle1" type="checkbox" />
                    <label class="hamburger1" for="toggle1">
                        <div class="top"></div>
                        <div class="meat"></div>
                        <div class="bottom"></div>
                    </label>

                    <nav class="menu1">
                        <a class="link1" href="/">Dashboard</a>
                        <a class="link1" href="/movie">Movie Administration</a>
                        <a class="link1" href="./hallmaping">Hall Mapping</a>
                        <a class="link1" href="./booking">Booking Details</a>
                        <a class="link1 kbutton-nav" href="./report">Report</a>
                    </nav>
                </nav>
            </section>

        </header>


        <section class="table__header">
            <h1>Dashboard</h1>

        </section>

        <section class="table__body">
            <section class="boxes">
                <div class="box">
                    <h3 class="tabletitle">Total Tickets</h3>
                    <div class="number"><b>500</b></div>
                    <i class="fa-solid fa-chair icon"></i>
                </div>
                <div class="box">
                    <h3 class="tabletitle">Ticket Booked</h3>
                    <div class="number"><b>350</b></div>
                    <i class="fa-solid fa-ticket icon"></i>
                </div>
                <div class="box">
                    <h3 class="tabletitle">Ticket Available</h3>
                    <div class="number">
                        <b>3</b>
                    </div>
                    <i class="fa-solid fa-ticket icon"></i>
                </div>
            </section>
            <section class="graphbox-row">
                <div class="graphbox">
                    <h5>Ticket Booked for Each Movie</h5>
                    <canvas class="my-chart1" width="200" height="200"></canvas>
                </div>
                <div class="graphbox">
                    <h5>Revenue for each Room Type</h5>
                    <div class="dropdown" style="top: 10px; right: 15px">
                        <select id="timePeriodDropdown" onchange="updateChart2()">
                  <!-- <option value="weekly">Weekly</option> -->
                  <option value="monthly"> Monthly</option>
                  <option value="yearly"> Yearly</option>
                </select>
                    </div>
                    <canvas class="my-chart2" width="300" height="200"></canvas>
                </div>
            </section>
            <section class="graphcontainer">
                <h5>Top 10 Movies based on Tickets Sold</h5>
                <canvas class="my-chart3" width="400" height="200"></canvas>
            </section>

            <section class="multiple">
                <h5>Revenue based on Genre</h5>
                <div class="dropdown" style="top: 10px; right: 15px">
                    <select id="lineDropdown" onchange="updateChart5()">
                        <option value="monthly">Monthly</option>
                        <option value="yearly">Yearly</option>
                    </select>
                </div>
                <canvas class="my-chart5" width="400" height="200"></canvas>
                <div class="legend-container"></div>
            </section>





            <!-- user -->
            <div class="user-management" id="userManagement">
                <div class="close-btn">
                    <i class="fas fa-times" onclick="toggleUserManagementPanel()"></i>
                </div>
                <h2>Username</h2>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
    </main>


    <script>
        // JavaScript to handle sidebar toggling
        const toggleSidebar = document.getElementById("toggleSidebar");
        const sidebar = document.getElementById("headerMenu"); // Change this ID to "headerMenu"

        toggleSidebar.addEventListener("click", () => {
            sidebar.classList.toggle("show-sidebar");
        });
    </script>

    <script src="/public/js/script.js"></script>
    <footer class="footer">
        <div class="footer-content">
            <p class="text-muted">&copy; 2023 FlexTix</p>
        </div>
    </footer>
</body>

</html>