

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&family=Open+Sans:wght@300&family=Roboto+Flex:wght@100;200;300&family=Roboto:wght@100;300;400;500&display=swap");

body {
  background-color: #171616;
  font-family: "Inter", sans-serif;
  background-color: #49484A;
}

/* =======================================Table============================================== */

.main-datatable {
  padding: 10px;
  border-bottom: 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_body {
  background-color: #f9f4fd;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #040404;
}
.main-datatable .row {
  margin: 0;
}

.add_flex {
  display: flex;
  justify-content: flex-end;
  padding-right: 0px;
}
.main-datatable .dataTable.no-footer {
  border-bottom: 1px solid #2c2b2b;
}

.main-datatable .cust-datatable > thead > tr > th {
  border-bottom-width: 0;
  color: #443f3f;
  font-weight: 600;
  padding: 16px 15px;
  vertical-align: middle;
  padding-left: 18px;
  text-align: center;
  height: 50px;
  background-color: #ffe36d;
}



.main-datatable .cust-datatable > tbody td {
  padding: 10px 15px 10px 18px;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 500;
  /* border-color: #eee; */
  text-align: center;
  vertical-align: middle;
  height: 50px;
  background-color: transparent;
}
.main-datatable .cust-datatable > tbody tr {
  border-top: none;
}
.main-datatable .table > tbody > tr:nth-child(even) {
  background: transparent;
  color: #f3ebeb;
}

.main-datatable .table > tbody > tr:nth-child(even):hover {
  background: #fffffc;
  border-bottom: 1px solid #ffe36d;
}

.main-datatable .table > tbody > tr:nth-child(odd) {
  background: transparent;
}

.main-datatable .table > tbody > tr:nth-child(odd):hover {
  background:  #ebeae8;
  border-bottom: 2px solid #ffe36d;
}
@media only screen and (max-width: 1200px) {
  .overflow-x {
    overflow-x: scroll;
  }
  .overflow-x::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  .overflow-x::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  .overflow-x::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}


