/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&family=Open+Sans:wght@300&family=Roboto+Flex:wght@100;200;300&family=Roboto:wght@100;300;400;500&display=swap");

body {
  background-color: #eee;
  font-family: "Inter", sans-serif;
  background-color: #49484A;
 
}

/* ============================================login========================================= */

.wrapper {
  max-width: 500px;
  margin: 20px auto;

}

.wrapper .card {
  max-width: 450px;
  min-height: 380px;
  margin: 30px;
  /* background: linear-gradient(to top, #4d4c4c 100%, rgba(0, 0, 0, 0) 100%);
   */
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  padding: 0.8rem;
  border: none;
}

.login {
  color: #ffe36d;
}
.wrapper .card a {
  text-decoration: none;
  color: #eee;
}

.wrapper .card a:hover {
  color: #fff;
}

.wrapper .card .input-field {
  border: 2px solid #ffe36d;
  border-radius: 5px;
  color: #eee;
  padding: 0.3rem;
}

.wrapper .card .input-field input {
  background-color: inherit;
}

.wrapper .card .input-field input.form-control,
.wrapper .card .input-field input.form-control:focus {
  border: none;
  outline: none;
  box-shadow: none;
  color: #eee;
}

.wrapper .card .input-field button.btn {
  color: #ffe36d;
  padding: 0rem;
  padding-right: 0.5rem;
}

.wrapper .card .input-field button.btn:hover {
  color: #fff;
}

.wrapper .card .input-field button.btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.wrapper .card .input-field input::placeholder {
  color: #eee;
}

.wrapper .card .option {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

.wrapper .card .option span.text-light-white:hover {
  color: #fff;
}

.wrapper .card .option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 2px;
}

.wrapper .card .option:hover input ~ .checkmark {
  background-color: #f1f1f1;
}

.wrapper .card .option input:checked ~ .checkmark {
  border: none;
  background-color: #ffe36d;
  transition: 300ms ease-in-out all;
}

.checkmark:after {
  content: "\2713";
  position: absolute;
  display: none;
  color: #fff;
  font-size: 1rem;
}

.wrapper .card .option input:checked ~ .checkmark:after {
  display: block;
}

.wrapper .card .option .checkmark:after {
  left: 3px;
  top: -3px;
  width: 5px;
  height: 10px;
}

.wrapper .card .btn.btn-primary {
  border-radius: 10px;
  width: 320px;
  background-color: transparent;
  border: 2px solid #ffe36d;
  color: #f1f1f1;
}

.wrapper .card .btn.btn-primary:hover {
  color: #fff;
  background: #ffe36d;
  background: linear-gradient(to right, #ffe36d 10%, rgba(0, 0, 0, 0) 60%);
}
.wrapper .card .btn.btn-primary:focus {
  border: none;
  box-shadow: none;
}

.wrapper .card .text-light-white {
  color: #ddd;
}

/* ================================================Responsiveness for Mobile=============================================================== */

@media screen and (max-width: 678px) {
  /* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: none;
    margin-bottom: -40px;
  } */


  .nav-conatiner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  /* .search-container {
    display: flex;
    justify-content: center;
    transform: translate(-2%, -110%);
    margin-left: 95px;
  } */

  .search-input {
    width: 160px;
    height: 50px;
  }

  /* .navbar-toggler {
    order: 1;
    transform: translate(80%, -360%);
  } */
  .bi-person-circle {
    display: none;
  }
  .btn-outline-warning {
    display: none;
  }

  .wrapper .card .line:after {
    left: 27%;
  }
  .wrapper .card .btn.btn-primary {
    width: 240px;
  }
  .wrapper {
    margin: 10px auto;
  }

  .wrapper .card {
    margin: 10px;
  }
  .Forgot-pass {
    display: flex;
    justify-content: end;
    margin-top: -40px;
  }

  
  .social-icons {
    margin-right: 50px;
    margin-top: 30px;
  }

  .wrapper .card .line:after {
    left: 27%;
  }

  
  .footer-title .logo {
    text-decoration: none;
    color: #ffe36d;
  }
  .footer-title {
    text-align: center;
  }

  .footer-social-links {
    text-align: center;
    margin-top: 15px;
  }

  .footer-social-links a {
    margin: 0 10px;
  }

  .footer .justify-content-end {
    margin-left: -90px;
    margin-top: 20px;
  }
}



@media screen and (min-width: 768px) and (max-width: 992px) {
 
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-container {
    order: 3;
    transform: translateX(20%);
  }

  .navbar-toggle {
    order: 1;
  }

  .navbar-toggler,
  .navbar-toggler:focus {
    transform: translateX(450%);
  }
  .btn-outline-warning {
    display: none;
  }
   .footer-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .footer-title .text-white {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
  }

  .footer-title .logo {
    text-decoration: none;
    color: #ffe36d;
  }

  .footer-social-links {
    display: flex;
    flex-direction: end;
  }
}




