

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&family=Open+Sans:wght@300&family=Roboto+Flex:wght@100;200;300&family=Roboto:wght@100;300;400;500&display=swap");

body {
  background-color: #eee;
  font-family: "Inter", sans-serif;
  background-color: #49484A;
}


.genre {
  display: flex;
  justify-content: flex-start;
}

/* ===============Movie List======================= */

.image-container {
  display: flex;
  justify-content: start;
}

.image-container img {
  width: 15rem;
  height: auto;
}

.image-container .col-md-3 img {
  height: 22rem;
  transition: transform 0.3s ease;
}

.image-container .col-md-3:hover img {
  transform: scale(1.2);
}

.load-more .btn {
  width: 150px;
  height: 50px;
  border: 2px solid #ffe36d;
  background-color: transparent;
}

.load-more .btn:hover {
  color: #fff;
  background: #ffe36d;
  background: linear-gradient(to right, #ffe36d 10%, rgba(0, 0, 0, 0) 60%);
}


/* ==========================================Responsivness for mobile========================================= */

@media (max-width: 768px) {

  .genre {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
  }

  .load-more {
    margin-top: -20px;
  }

  .image-container {
    flex-wrap: wrap;
    margin-bottom: -10px;
  }
  
  .image-container .col-md-3 img {
    height: 15rem;
    width: 10rem;
    transition: transform 0.3s ease;
  }

  .image-container .col-md-3 {
    flex-basis: 50%;
    margin-bottom: 15px;
  }
}
