/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&family=Open+Sans:wght@300&family=Roboto+Flex:wght@100;200;300&family=Roboto:wght@100;300;400;500&display=swap");

body {
  background-color: #eee;
  font-family: "Inter", sans-serif;
  background-color: #404040;
}


/* ==============================movie-summary================================ */
.card {
  width: 250px;
  border-color:black;
  overflow: hidden;
  height: auto;
  margin-top: 20px;
}

.card img {
  width: 100%;
  height: 15rem;
}

.card-body {
  background-color: black;
  color: #fff;
  padding: 10px;
}


.card-container{
  margin-top: 20px;
  border-radius: 10px;
  background-color: #323030;
}

.booking-summary{
  padding: 32px;
}

.movie-title {
  display: inline-block;
  justify-content: space-between;
}

h6{
  font-weight: 200;
}

hr {
  position: relative;
  top: 10px;
  border: none;
  height: 2px;
  background: #fff;

}

.ticket-button .btn {
  background-color: transparent;
  color: #eee;
  border: 2px solid #ffe36d;
  display: flex;
  justify-content: flex-end;
  width:100px;
 
}

/* ==========================================Responsivness for mobile========================================= */

@media (max-width: 768px) {
    .card {
      width: 100%; 
    }
  
    .card-body{
      display: none;
    }

    .card-container{
      background-color: transparent;
    }
    .booking-summary{
      padding: 0;
    }

  
   .ticket-button{
    margin-top: 20px;

   }


}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-container {
    order: 3;
    transform: translateX(20%);
  }

  .navbar-toggle {
    order: 1;
  }

  .navbar-toggler,
  .navbar-toggler:focus {
    transform: translateX(300%);
  }
  .bi-person-circle {
    display: none;
  }


  .swiper-slide {
    height: 500px;
  }


  .right-div {
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 20px;
    text-align: center;
  }

  .footer-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  
  .footer-title .text-white {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
  }
  
  .footer-title .logo {
    text-decoration: none;
    color: #ffe36d;
  }
  
  .footer-social-links {
    display: flex;
    flex-direction: end;
  }
}
