<!-- footer.ejs -->
<style>
    footer {
        background: #f6f6f6;
        color: #fff;
        padding: 20px;
        text-align: start;
    }
</style>

<footer>
    <div class="footer-content">
        <h3 class="footer-title">FlickTix</h3>
        <p class="footer-description">
            Discover the world of movies and enjoy the ultimate cinema experience.
        </p>
        <p class="text-center text-muted">&copy; 2020 The Awesome People</p>
    </div>
</footer>