<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@10/swiper-bundle.min.css" />

    <link rel="stylesheet" href="./css/home2.css" />
  </head>
  <body>
    <!-- ===================================Navbar============================================ -->

    <nav class="navbar navbar-expand-lg navbar-dark p-4">
      <div class="container">
        <a class="navbar-brand" href="#">FlickTix</a>

        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="newrelease.html">New Release </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="upcomig.html">Upcoming</a>
            </li>
          </ul>
        </div>

        <div class="d-flex align-items-center">
          <div class="search-container">
            <input type="text" class="search-input" placeholder="Search" />
            <button class="btn search-icon">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>

        <button
          class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="toggler-icon top-bar"></span>
          <span class="toggler-icon middle-bar"></span>
          <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="navbar-item dropdown has-divider">
          <a
            class="navbar-link"
            href="#"
            id="dropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <div
              class="d-flex justify-content-end account-setting"
              style="margin-right: 10px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                class="bi bi-person-circle"
                style="color: #ffe36d"
                viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
              </svg>
            </div>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-person-circle"
                  viewBox="0 0 16 16"
                  style="margin-right: 10px">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  <path
                    fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" /></svg
                >User Name</a
              >
            </li>
            <hr />
            <li>
              <a class="dropdown-item" href="#"
                ><img
                  src="./img/bookinghistory.png"
                  style="margin-right: 10px" />Booking History</a
              >
            </li>
            <hr />
            <li>
              <a class="dropdown-item" href="#"
                ><i
                  class="fa-solid fa-right-from-bracket"
                  style="margin-right: 10px"></i
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- =============================================Image Slider========================================= -->
    <div class="swiper mt-2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./img/herobanner.jpg" />
          <div class="container main-section">
            <div class="row text-container mt-5">
              <div class="col-md-6">
                <div class="button-container mb-4">
                  <button type="button" class="btn btn-primary mt-5">
                    Darma
                  </button>
                  <button type="button" class="btn btn-primary mt-5">
                    ShortFilm
                  </button>
                </div>
                <h5 class="fs-3">Silent Walls</h5>
                <span
                  ><i class="fas fa-clock fa-2x" style="color: #ffe36d"></i>2
                  HRS 30 MINS</span
                >
                <div class="description">
                  <p class="mt-4">
                    A deaf girl finds her life beginning to rapidly narrow and
                    deteriorate when she gets locked up by her over-protective
                    father owing to her puberty.
                  </p>
                </div>
                <div class="book-button mb-5">
                  <button
                    onclick="location.href='details.html'"
                    type="button"
                    class="btn btn-secondary mt-3">
                    BOOK NOW
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <img src="./img/ngejemasong.jpg" />
          <div class="container main-section">
            <div class="row text-container mt-5">
              <div class="col-md-6">
                <div class="button-container mb-4">
                  <button type="button" class="btn btn-primary mt-5">
                    Darma
                  </button>
                  <button type="button" class="btn btn-secondary mt-5">
                    Romance
                  </button>
                  <button type="button" class="btn btn-secondary mt-5">
                    Fantasy
                  </button>
                </div>
                <h5 class="fs-3">Nga Je Masong</h5>
                <span
                  ><i class="fas fa-clock fa-2x" style="color: #ffe36d"></i>2
                  HRS 30 MINS</span
                >
                <div class="description">
                  <p class="mt-4">
                    In a heartbeat, she appears and in a blink of an eye, she
                    disappears. Are memories going to be the only thing that
                    remains or will that be lost too?
                  </p>
                </div>
                <div class="book-button mb-5">
                  <button
                    onclick="location.href='details.html'"
                    type="button"
                    class="btn btn-secondary mt-3">
                    BOOK NOW
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./img/chasingstar.jpg" />
          <div class="container main-section">
            <div class="row text-container mt-5">
              <div class="col-md-6">
                <div class="button-container mb-3">
                  <button type="button" class="btn btn-primary mt-5">
                    Romance
                  </button>
                </div>
                <h5 class="fs-3">Chasing Star</h5>
                <span
                  ><i class="fas fa-clock fa-2x" style="color: #ffe36d"></i>2
                  HRS 3 MINS</span
                >
                <div class="description">
                  <p class="mt-4">
                    When the paths of two individuals with dreams collide, will
                    they find love or will their hearts be broken?
                  </p>
                </div>
                <div class="book-button mb-5">
                  <button
                    onclick="location.href='details.html'"
                    type="button"
                    class="btn btn-secondary mt-3">
                    BOOK NOW
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ====================================Movie selection================================ -->
    <div class="movie-selection">
      <div class="container">
        <div class="row">
          <div class="genre p-4">
            <span class="m-2 text-white my-text">ALL</span>
            <span class="m-2 text-white">ACTION</span>
            <span class="m-2 text-white">COMEDY</span>
            <span class="m-2 text-white">ROMANCE</span>
            <span class="m-2 text-white">HORROR</span>
          </div>
        </div>
      </div>
    </div>

    <!-- ===============================movie list========================================== -->
    <div class="container movie-list">
      <div class="row">
        <div class="col-md-12">
          <div class="image-container d-flex justify-content-between">
            <div class="col-md-3">
              <img src="./img/1.jpg" alt="Image 1" class="p-3" />
              <button onclick="location.href='details.html'" class="book-now">
                BOOK NOW
              </button>
              <button onclick="location.href='Rating.html'" class="rate-us">
                RATE US
              </button>
            </div>
         
            <div class="col-md-3">
              <img src="./img/2.jpg" alt="Image 2" class="p-3" />
            </div>
            <div class="col-md-3">
              <img src="./img/3.jpg" alt="Image 3" class="p-3" />
            </div>
            <div class="col-md-3">
              <img src="./img/4.jpg" alt="Image 4" class="p-3" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="image-container">
            <div class="col-md-3">
              <img src="./img/5.jpg" alt="Image 5" class="p-3" />
            </div>
            <div class="col-md-3">
              <img src="./img/6.jpg" alt="Image 6" class="p-3" />
            </div>
            <div class="col-md-3">
              <img src="./img/7.jpg" alt="Image 7" class="p-3" />
            </div>
            <div class="col-md-3">
              <img src="./img/8.jpg" alt="Image 8" class="p-3" />
            </div>
          </div>
        </div>
      </div>
      <div class="more-content">
        <div class="row">
          <div class="col-md-12">
            <div class="image-container d-flex justify-content-between">
              <div class="col-md-3">
                <img src="./img/1.jpg" alt="Image 1" class="p-3" />
              </div>
              <div class="col-md-3">
                <img src="./img/2.jpg" alt="Image 2" class="p-3" />
              </div>
              <div class="col-md-3">
                <img src="./img/3.jpg" alt="Image 3" class="p-3" />
              </div>
              <div class="col-md-3">
                <img src="./img/4.jpg" alt="Image 4" class="p-3" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="image-container">
              <div class="col-md-3">
                <img src="./img/5.jpg" alt="Image 5" class="p-3" />
              </div>
              <div class="col-md-3">
                <img src="./img/6.jpg" alt="Image 6" class="p-3" />
              </div>
              <div class="col-md-3">
                <img src="./img/7.jpg" alt="Image 7" class="p-3" />
              </div>
              <div class="col-md-3">
                <img src="./img/8.jpg" alt="Image 8" class="p-3" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="load-more d-flex justify-content-center">
        <button type="button" class="btn btn-secondary mt-4" id="more-button">
          LOAD MORE
        </button>
      </div>
    </div>

    <!-- =========================================image============================================ -->

    <div class="container main-container mt-5">
      <div class="row">
        <div class="col-lg-6">
          <div class="right-div d-flex justify-content-start">
            <img src="./img/watching.jpg" alt="Right Image" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="left-div">
            <img src="./img/popcron.png" alt="Left Image" />
            <span class="overlay-text"
              ><h5>ENJOY THE SHOW WITH</h5>
              <a class="navbar-brand" href="#">FlickTix</a></span
            >
          </div>
        </div>
      </div>
    </div>

    <!-- ==============================Footer======================================= -->
    <footer>
      <div class="col-md-12">
        <footer class="footer">
          <div class="container">
            <div class="row footer-container">
              <div class="col-md-4">
                <div class="footer-title text-white">
                  <a href="" class="logo"><b>FlickTix</b></a>
                </div>
              </div>

              <div
                class="col-md-4 d-flex justify-content-center d-flex justify-content-around">
                <div class="footer-link">
                  <div class="footer-title">
                    <a href="" class="text-white" style="text-decoration: none"
                      >Home</a
                    >
                  </div>
                </div>
                <div class="footer-link">
                  <div class="footer-title text-white">
                    <a href="" class="text-white" style="text-decoration: none">
                      NewRelease</a
                    >
                  </div>
                </div>

                <div class="footer-link">
                  <div class="footer-title m-t-5 m-b-20 p-b-8 text-white">
                    <a href="" class="text-white" style="text-decoration: none"
                      >Upcoming</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-end">
                <div class="footer-social-links">
                  <li>
                    <a href="#">
                      <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                </div>
              </div>
            </div>
          </div>
          <div
            class="footer-bottom text-white d-flex justify-content-center mb-5">
            Copyright © 2023, All Rights Reserved
          </div>
        </footer>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"></script>

    <script src="home.js"></script>

    <script src="https://unpkg.com/swiper@10/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper(".swiper", {
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        loop: true,
      });
    </script>
  </body>
</html>
